[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.vamp_clone
Exec=/usr/bin/ru.auroraos.vamp_clone
Name=Vamp_clone
Name[ru]=Вамп_клон

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=vamp_clone
ExecDBus=/usr/bin/ru.auroraos.vamp_clone
